
*{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-image: linear-gradient(#a9ffca,#B3FFD0,#E9FAF0,#ECF8F1);
    font-family: "Lato", sans-serif;
}
.title{

    color: #47A03F;
    font-family: "Lato", sans-serif;
    font-weight:790;
    font-size:250%;
    text-align: center;
    padding-top: 4.3%;
}
.imglogo1{

    width: 200px;
    height: 11%;
    cursor: pointer;
    cursor: hand;
    position: absolute;
    top: 2%;
    left: 2.4%;

}
.imglogoback{

    width: 75%;
    height: 79%;
    position: absolute;
    top: 12%;
    left: 1%;
    opacity: 0.5;


}
.imglogoback2{

    width: 75%;
    height: 79%;
    position: absolute;
    top: 22%;
    right: -27%;
    opacity: 0.5;
    


}
.card-pront {
    
    background-image: linear-gradient(#a9ffca,#B3FFD0,#E9FAF0,#ECF8F1);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    width: 27%;
    height: 69%;
    position: absolute;
    top: 20%;
    left: 17%;
    border-radius: 3rem;
    border: 5px solid;
    cursor: pointer;
    cursor: hand;


}
#pranch{
    
    width: 230px;
    height: 180px;
    position: relative;
    top: 140px;
    
}
#titlecard{

    font-family: "Lato", sans-serif;
    position: relative;
    top: 170px;
    font-size: 180%;
    font-weight: bolder;


}
.card-finan {
    
    background-image: linear-gradient(#a9ffca,#B3FFD0,#E9FAF0,#ECF8F1);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 20px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    width: 27%;
    height: 69%;
    position: absolute;
    top: 20%;
    right: 17%;
    border-radius: 3rem;
    border: 5px solid;
    cursor: pointer;
    cursor: hand;


}
#pig{
    
    width: 190px;
    height: 160px;
    position: relative;
    top: 140px;
    
}